<table>
  <tr>
    <th><%=form.label :first_name, 'first_name' %></th><td><%= form.text_field :first_name %></td>
  </tr>
  <tr>
    <th><%=form.label :last_name, 'last_name' %></th><td><%= form.text_field :last_name %></td>
  </tr>
</table>