<div>
  <h1 class="page-header">新規登録画面</h1>
  <% if flash.notice %>
    <div class="alert alert-info">通知メッセージ：<%= flash.notice %></div>
  <% end %>
</div>

<div>
  <%= form_for @actor do |form| %>
  <%= render 'form', form: form %>
  <div class="form-group">
    <%= form.submit '登録', class: 'btn btn-default' %>
  </div>
  <% end %>
</div>